/**
Slideout
**/

html, body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  width: 80%;
  max-width: 512px;
  min-width: 200px;
}

.slideout-menu h4, .slideout-menu h5{
  color: #fff;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

/**
Costum
**/

#myAlert{
  position: fixed;
  top: 0px;
  left: 10%;
  z-index: 99999;
  margin-top: 10px;
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
}

.slideout-menu label{
  color: #aaa;
}

#panel{
  background: url(../img/background-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  min-height: 100%;
  padding-top: 60px;
}

#panel > .container-fluid{
  padding-left: : 5px;
  padding-right: 5px;
}

#eingabe{
  padding: 15px;
  background-color: rgba(255, 255, 255, .95);
  border-radius: 7.5px;
  margin-bottom: 10px;
}

#auswertung{
  padding-top: 0px;
  background-color: rgba(255, 255, 255, .95);
  border-radius: 7.5px;
  padding-bottom: 15px !important;
  margin-bottom: 10px;
}

#loading{
  display: block;
  margin: 0 auto;
}

#loadingAuthor,
#loadingLink{
  float: right;
}

.hidden{
  display: none;
}

#slideout-btn{
  margin-top: 8px;
  margin-left: 8px;
}

.fixed-table-pagination{
  padding-left: 10px;
  padding-right: 10px;
}

#evaluation-title{
  float: left;
}
